@import './main.css';
@import './base.css';
@import './fonts.css';
@import './animations.css';

body {
  margin: 0;
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color:white;
}
a, a:visited, a:active, a:hover {
  color:white;
  text-decoration: none;
}